# Configuration file for SARndbox application
# Copyright (c) 2016 Oliver Kreylos

section SARndbox
	section Camera
		# Configuration parameters for Kinect v1
		compressDepthFrames true
		smoothDepthFrames false
	endsection
endsection

section Vrui
    section Desktop
        section Window
            viewerName Viewer
            screenName Screen
            windowType Mono
            
            # Open the window on a specific video output port:
            outputName HDMI-0
            
            # Open the window to full-screen mode:
            windowSize (800, 600)
            windowFullscreen true
        endsection
    endsection
endsection
